.lead-card {
    // padding: $layout-padding;
    // 380 min width col
    // 660 min width 2 col
    overflow-y: auto;
    padding-inline-end: em(20px);

    .header {
        @include card;
        position: sticky;
        top: 0;
        padding: $card-padding;
        margin-bottom: $card-padding;
        font-size: em(18px);
        // z-index: 10;
        z-index: 1;

        .svg-btn {
            fill: $txt-dark-darker;
        }

        .first-letter {
            margin: 0 10px;
        }

        h2 {
            font-family: Arimo, sans-serif;
            font-weight: 400;
        }

    }
    
    .actions, .icons {
        justify-self: end;
        // & > * {
        //     fill: white;
        // }
        .whatsapp {
            background: linear-gradient(135deg, #61fd7d 0%, #2bb826 100%);
            fill: white;
        }
        .phone {
            background-color: rgb(50, 86, 138);
            fill: white;
        }
        .email {
            background-color: #ff2e00;
            fill: white;
        }
        .user {
            fill: rgb(50, 86, 138);
        }
    }

    .lead-card-main {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;
    }

    .card-article {
        font-family: Arimo, sans-serif;
        border: 1px solid $border-light;
        background-color: white;
        padding: 15px 15px 8px 12px;
        display: grid;
        gap: 20px;
        padding: $card-padding;
        align-self: start;
    }

    .actions-section {
        display: flex;
        width: 100%;
    }

    .logs-section {
        // display: flex;
        width: 100%;
        // min-height: 300px;
        padding: 16px;

        .log-card {
            padding: 16px;
            width: 100%;
            border: 1px solid $border-light;
            border-radius: 4px;

            label {
                font-size: em(12px);
                color: $txt-light-darker1;
                p {
                    font-size: em(19px);
                    color: $txt-dark-darker;
                }
            }

            .desc {
                width: 100%;
                pre {
                    width: 100%;
                    white-space:pre-wrap;
                    font-family: Arimo, sans-serif;
                    padding: 12px 0;
                }
            }

            .date-by {
                color: $txt-light-darker1;
                font-size: em(12px);
                
                .date {
                    color: $txt-light-darker;
                    margin-inline-start: 10px;
                }
            }
        }
    }

    .lead-details {
        .card-section {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            // & > * {
            // padding: 10px 4px;
            // }

            .field-wrapper,
            .form-field {
                overflow: visible;
            }

            .field-wrapper {
                font-size: em(13px);
                // min-width: 300px;
                flex-basis: 90%;
                // padding: 1px;
                flex-wrap: wrap;
                padding: 10px 1px 10px 4px;
                box-shadow: inset 0 -1px 0 rgb(230, 231, 232);

                .icon {
                    opacity: 1;
                }

                &.disabled {
                    cursor: pointer;
                    .input {
                        cursor: pointer;
                        outline: none;
                        padding: 0;
                    }
                    .icon {
                        opacity: 0;
                    }

                    &:hover {
                        .input {
                            background-color: rgb(249, 249, 249);
                        }
                    }
                }

                &:hover {
                    background-color: rgb(249, 249, 249);
                    .icon {
                        opacity: 1;
                    }
                }

                .label {
                    width: 100%;
                }

                .input {
                    font-size: em(18px);
                    font-family: Arimo, sans-serif;
                    width: 90%;
                    height: 30px;
                    padding: 6px 12px;
                    border: none;
                    outline: 1px solid rgb(194, 200, 204);
                    border-radius: 4px;
                    transition: outline 0.2s;
                    &:focus {
                        outline: 1px solid #0081c9;
                    }

                    &.dp-custom-input {
                        outline: 1px solid #0081c9;
                    }

                    &-p {
                        font-size: em(18px);
                        padding: 3px 0;
                        &.phone-email {
                            color: $secondary;
                            max-width: max-content;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .selected {
                        height: 31px;
                        padding: 6px 12px;
                        background-color: #fff;
                        border-color: #0081c9;
                        span.value {
                            font-family: Arimo, sans-serif;
                            font-size: em(16px) !important;
                        }
                    }

                    &.select-wrapper {
                        padding: 0;
                        outline: none;
                    }
                }

                .icon {
                    flex-basis: 10%;
                    cursor: pointer;
                    svg {
                        fill: #808184;
                    }
                }
            }

            .section-title {
                grid-column: 1 / -1;
                color: $secondary;
                font-weight: 400;
                font-family: Arimo, sans-serif;
                cursor: pointer;
                max-width: max-content;
            }
        }
    }

    // .manager-section {
    //     max-width: 430px;
    // }
}
