.lead-preview {
    border: 1px solid $border-light;
    background-color: white;
    // padding: em(5px);
    // padding-inline-start: 10px;
    padding: 15px 15px 8px 12px;
    display: flex;
    align-items: center;
    cursor: grab;
    direction: rtl;

    .name {
        grid-column: 1/-1;
        font-weight: 400;
        font-size: em(17px);

        span {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .email {
        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
    }

    .details {
        font-size: em(14px);
        color: rgb(128, 129, 132);
        font-weight: 400;
    }

    .content {
        cursor: pointer;
        font-size: em(15px);
        line-height: 1.5;
        max-width: max-content;
        &:hover {
            text-decoration: underline;
        }
        &.phone {
            color: $secondary;
        }
    }

    img {
        width: em(35px);
        border-radius: 50%;
    }

    .preview-content {
        //     display: flex;
        //     flex-direction: column;
        //     justify-items: center;
        //     min-width: max-content;
        width: 100%;
        grid-template-columns: max-content 1fr;
        column-gap: 20px;
        row-gap: 5px;
        line-height: 1;
    }
    gap: em(5px);
    margin-block-end: em(5px);

    &.side-nav-mode {
        cursor: pointer;
        margin: 0;
        border-top: none;
        border-inline-end: none;

        &:hover {
            background: rgb(249, 249, 249);
        }
    }
}
