.lead-preview {
    border: 1px solid $border-light;
    background-color: white;
    padding: em(5px);
    display: flex;
    align-items: center;
    cursor: grab;
    direction: rtl;

    img {
        width: em(35px);
        border-radius: 50%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-items: center;
        min-width: max-content;
    }
    gap: em(5px);
    margin-block-end: em(5px);
}
