.funnel-column {
    // border: 2px solid gray;
    padding: em(10px);
    flex-grow: 1;
    min-width: 270px;
    margin-bottom: 10px;
    // overflow-y: auto;

    .column-main {
        max-height: 93%;
        overflow-y: auto;
    }

    .dndrop-draggable-wrapper {
        margin-inline-end: 4px;
    }
}
