.sub-header {
    height: 65px;
    width: 100%;
    box-shadow: inset 0 -1px 0 $border-light;
    padding: 0 $layout-padding;
    overflow: visible;

    .views {
        height: 100%;
        .curr-view-info {
            height: 100%;
            justify-content: space-between;

            h3 {
                font-family: Arimo, sans-serif;
                padding-top: 7px;
                font-weight: 400;
            }

            .option-link {
                cursor: pointer;
                color: $txt-light-darker;
                margin-inline-end: 10px;
                &.router-link-active {
                    color: $primary;
                }
            }
        }
    }

    .filter-sort {
        .search {
            @include search-input;
            padding: 0;
            width: 200px;
            // background-color: aqua;
            input {
                position: relative;
                width: 100%;
                padding: 10px 12px;
                outline: 1px solid $border-light-darker;
                outline-offset: -1px;
                border-radius: 3px;
                direction: rtl;
                // transition: width .5s ease-in-out, direction 0s step-end .8s;
                // transition: width 0.5s ease-in-out, scale 0.5s ease-in-out;
                // outline: 1px solid $secondary;
                &:focus {
                    outline: 1px solid $secondary;
                }
            }
            .icon {
                z-index: 40;
                
                // &:hover {
                //     background-color: $txt-light-darker;         
                //     fill: white;
                // }
            }

            transition: width 0.5s ease-in-out;
            &.close {
                width: 40px;
                input {
                    outline: none;
                    cursor: default;
                }

                .icon:hover {
                    background-color: $txt-light-darker;         
                    fill: white;
                }
            }
        }
    }
}
