//Nunito

@font-face {
    font-family: Nunito;
    src: url('../../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito-medium;
    src: url('../../fonts/Nunito/Nunito-Medium.ttf');
}

@font-face {
    font-family: Nunito-bold;
    src: url('../../fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito-light;
    src: url('../../fonts/Nunito/Nunito-Light.ttf');
}

@font-face {
    font-family: Nunito-extralight;
    src: url('../../fonts/Nunito/Nunito-ExtraLight.ttf');
}

//Logo

@font-face {
    font-family: Logo;
    src: url('../../fonts/Logo/logo.ttf');
}

// Arimo

@font-face {
    font-family: Arimo;
    src: url('../../fonts/Arimo/Arimo-Regular.ttf');
}

@font-face {
    font-family: Arimo-medium;
    src: url('../../fonts/Arimo/Arimo-Medium.ttf');
}

@font-face {
    font-family: Arimo-bold;
    src: url('../../fonts/Arimo/Arimo-Bold.ttf');
}
