.dialog-form {
    .field {
        &.desc {
            min-height: 61px !important;
            max-height: 83%;
            overflow-y: auto;

            &:focus {
                outline: 1px solid #0081c9;
            }
        }
    }

    .desc-wrapper {
        flex: 1;
    }
}
